Data/credentials.json
Data/caminhoes.json
Data/caminhoes.xlsx
Data/config.json
Data/new_config.json
Data/nova_planilha_local.xlsx
Data/planilha_agrupada.json
Data/planilha_de_clientes_especiais_agrupada.json
Data/planilha_local.xlsx
Data/roteiro_entregas_caminhão1.pdf
Data/roteiro_entregas_caminhão2.pdf
Data/roteiro_entregas_caminhão3.pdf
Data/roteiro_entregas_caminhão1.txt
Data/roteiro_entregas_caminhão2.txt
Data/roteiro_entregas_caminhão3.txt
Data/roteiro_entregas_caminhão1.xlsx
Data/roteiro_entregas_caminhão2.xlsx
Data/roteiro_entregas_caminhão3.xlsx
Data/route_truck1.json
Data/route_truck2.json
Data/route_truck3.json
Data/clientes_nao_atendidos.json
Library/__pycache__